h1{font-size: 70px; text-align: center;}
h3{margin: 0%; font-size: 24px;text-align: center;}

.gameblock{
    width: 192px;
    height: 310px;
    p.double {border-style: double;}  
    background-color:#565656;
    border: 4px solid #7ccaee; 
    border-radius: 12px;
    padding: 5px;
    font-size: 36px;
    float: left;
}
.gameblock1{
    width: 192px;
    height: 170px;
    p.double {border-style: double;}  
    background-color:#565656;
    border: 4px solid #505050; 
    border-radius: 12px;
    padding: 5px;
    font-size: 36px;
    float: left;
}
.title{
    text-align: center;
    font-size: 60px;
    margin: 0%;
}
.img {
    width: 192px;
    height: 192px;
}

#game1{
    height:fit-content;
}
#game{
    font-size: 300px;
    margin-left: 19%;
    margin-top: 0%;
}