
.block {
  min-height: 300px;
  height: fit-content;
}
.left {

  float: left;
  width: 32.14%;
}
.right {
  float: right;
  width: 32.14%;

}
.primary-nav {
  float: right;
  background-color:#565656;
  border: 4px solid #7ccaee;
  border-radius: 12px;
  padding: 5px;
  font-size: 24px;
  width: 165px;
  height: 300px;
  margin-top: -11%;
}

#ramdomTxt {
  justify-content: right;
  font-size: 40px;
  margin-top: 0%;
  width: 1710px;
}