
.left {
  float: left;
  width: 32.14%;
}
.right {
  float: right;
  width: 32.14%;
}


#ramdomTxt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  margin: 0%;
  display: inline;
}