* {font-family: 'Times New Roman', Times, serif;}
body {background-color: #626262;}
p {font-size: 24px;}
#hr {
  margin-bottom: 115px;
}
#footer {
    background-color: #565656;
    position: static; bottom: auto; left: auto;
    width: 97.5%;
    height: 100px;
}
.primary-nav {
  float: right;
  background-color:#565656;
  border: 4px solid #7ccaee;
  border-radius: 12px;
  padding: 5px;
  font-size: 24px;
  width: 165px;
  height: 300px;
  margin-top: -11%;
}
.navLink {
  color:#50c5e9;
}

.bigHeader {
  font-size: 108px;
  margin: 0px;
  display: inline;
}
.midTxt {
  justify-content: right;
  font-size: 40px;
  margin-top: 0%;
  width: 1710px;
}
.graBor{
  p.double {border-style: double;}  
  background-color:#565656;
  border: 4px solid #505050; 
  border-radius: 12px;
  padding: 5px;
  font-size: 24px;
}
.bluBor{
  p.double {border-style: double;}  
  background-color: #565656;
  border: 4px solid #7ccaee; 
  border-radius: 12px;
  padding: 5px;
  font-size: 24px;
}
.noMargin{margin: 0%;}
img .footer{
  width: 150px;
  height: 150px;
}

#homeNav {
  font-size: 48px;
  text-align: center;
}