body {background-color: #626262;}
p{font-size: 24px;}
p{font-family: 'Times New Roman', Times, serif;}
h1{font-family: 'Times New Roman', Times, serif;}
h3{font-family: 'Times New Roman', Times, serif;}
a{font-family: 'Times New Roman', Times, serif;}

.bigHeader {
  font-size: 108px;
  margin: 0px;
  display: inline;
}
.primary-nav {
  float: right;
  background-color:#565656;
  border: 4px solid #7ccaee;
  border-radius: 12px;
  padding: 5px;
  font-size: 24px;
  width: 165px;
  height: 300px;
}
.navLink {
  color:#50c5e9;
}
.graBor{
  p.double {border-style: double;}  
  background-color:#565656;
  border: 4px solid #505050; 
  border-radius: 12px;
  padding: 5px;
  font-size: 24px;
}
.bluBor{
  p.double {border-style: double;}  
  background-color: #565656;
  border: 4px solid #7ccaee; 
  border-radius: 12px;
  padding: 5px;
  font-size: 24px;
}



#homeNav {
  font-size: 42px;
  list-style-type: none; /*FIX THIS*/
  text-align: center;
}